In [1]:
import pandas as pd
import matplotlib.pyplot as matplot
import plotly.offline as plt
import plotly.graph_objs as go

In [2]:
df_main = pd.read_csv("Dataset\German_Credit_Data_With_Target.csv", index_col = 0)

In [3]:
 df_main.head()

,Age,Sex,Job,Housing,Saving_accounts,Checking_account,Credit_amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

### Bubble chart

In [72]:
data = [go.Scatter(
        x = df_main['Age'],
        y = df_main['Duration'],
        text = df_main['Housing'],
    mode = 'markers',
    marker = dict(size = (df_main['Credit_amount'] / 750))

)]


layo = go.Layout(
    title = 'Bubble chart -- Age by Duration',
    xaxis = dict(title = 'Age'),
    yaxis = dict(title = 'Duration'),
    hovermode = 'closest'
)

### Customized Bubble Chart ( with conditioning)

In [77]:
trace0 = go.Scatter(
    x = df_main['Age'][df_main['Risk'] == 'good'],
    y = df_main['Duration'][df_main['Risk'] == 'good'],
    text = 'Good',
    mode = 'markers',
    marker = dict(size = df_main['Credit_amount'][df_main['Risk'] == 'good'] / 750)

)


trace1 = go.Scatter(
    x = df_main['Age'][df_main['Risk'] == 'bad'],
    y = df_main['Duration'][df_main['Risk'] == 'bad'],
    text = 'Bad',
    mode = 'markers',
    marker = dict(size = df_main['Credit_amount'][df_main['Risk'] == 'bad'] /750)

)

data = [trace0 , trace1]

layout = go.Layout(
    title = ('Bubble chart -- Age by Duration'),
    xaxis = dict(title = 'Age'),
    yaxis = dict(title = 'Duration'),
    hovermode = 'closest'
)

fig = go.Figure(data = data)
plt.plot(fig)

### Simple Histogram

In [85]:
data = [go.Histogram(
    x = df_main.Age,
    name = 'Age',
    opacity = 0.5
)]

layout = go.Layout(
    title = ('Distribution of Age'),
    xaxis = dict(title = 'Age in Years'),
    yaxis = dict(title = 'Frequency')
)

fig = go.Figure(data = data , layout = layout)
plt.plot(fig)

'temp-plot.html'

### Histogram (Customised)

In [92]:
trace0 = go.Histogram(
    x = df_main['Age'][df_main['Risk'] == 'good'],
    name = 'Age of Good Cust',
    opacity = 0.5
)

trace1 = go.Histogram(
    x = df_main['Age'][df_main['Risk'] == 'bad'],
    name = 'Age of Bad Cust',
    opacity = 0.5
)

data = [trace0, trace1]

layout = go.Layout(
    title = ('Distribution of Age by Risk Grades'),
    xaxis = dict(title = 'Age in Years'),
    yaxis = dict(title = 'Frequency')
)

fig = go.Figure(data = data , layout = layout)
plt.plot(fig)

'temp-plot.html'

## Boxplot

In [6]:
df_main['Housing'].value_counts()

own     713
rent    179
free    108
Name: Housing, dtype: int64

In [9]:
own  = df_main.Credit_amount[df_main['Housing']  == 'own']
rent = df_main.Credit_amount[df_main['Housing'] == 'rent']
free = df_main.Credit_amount[df_main['Housing'] == 'free']

In [10]:
trace0 = go.Box(
    y = own,
    name = 'own'
)

trace1 = go.Box(
    y = rent,
    name = 'rent'
)

trace2 = go.Box(
        y = free,
    name = 'free'
)

data   = [trace0, trace1, trace2]
layout = go.Layout(title = 'Distribution of Credit Amt by Housing Type')

In [11]:
fig = go.Figure(data = data , layout = layout)
plt.plot(fig)

'temp-plot.html'

## Scatter plot Matrix

In [20]:
import plotly.figure_factory as ff
import numpy as np

df_main.columns

Index(['Age', 'Sex', 'Job', 'Housing', 'Saving_accounts', 'Checking_account',
       'Credit_amount', 'Duration', 'Purpose', 'Risk'],
      dtype='object')

In [22]:
df_scatter = df_main.loc[:,['Age', 'Credit_amount', 'Duration']]
df_scatter['index'] = np.arange(1 , len(df_scatter) + 1)
df_scatter.head()

   Age  Credit_amount  Duration  index
0   67           1169         6      1
1   22           5951        48      2
2   49           2096        12      3
3   45           7882        42      4
4   53           4870        24      5

In [24]:
fig = ff.create_scatterplotmatrix(df_scatter, diag = 'box', index = 'index', colormap = 'Portland', colormap_type = 'cat')
plt.plot(fig)

'temp-plot.html'

 ### Scatter plot Matrix by Dimension

In [25]:
df_scatter = df_main.loc[:,['Age', 'Credit_amount', 'Duration', 'Risk']]
df_scatter.head()

   Age  Credit_amount  Duration  Risk
0   67           1169         6  good
1   22           5951        48   bad
2   49           2096        12  good
3   45           7882        42  good
4   53           4870        24   bad

In [26]:
fig = ff.create_scatterplotmatrix(df_scatter, diag = 'box', index = 'Risk', colormap = 'Portland', colormap_type = 'cat')
plt.plot(fig)

'temp-plot.html'